/* BSD 2-Clause License:
 * Copyright (c) 2009 - 2014
 * Software Technology Group
 * Department of Computer Science
 * Technische Universität Darmstadt
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *  - Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 *  - Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
html { font-family: "Helvetica Neue Light", Helvetica, "Arial"; }

body{
	font-weight: 300;
	font-size: 14px;
	color: #1d3c41;
	overflow-y: scroll;
}

div{
	margin-bottom:0.25em;
	margin-top:0.25em;
}

fieldset{
	padding:0.15em;
	margin-bottom:0.25em;
}

.filter_settings{
	padding: 1em;
	background-color:#FFE7E7;
}


.members {
	min-width: 900px;
	width:100%;
}

.instruction,.lv_index{
	font-weight:400;
	font-style:italic;
	color:#6666AA;
	float:left;
}
.instruction{
	width:8em;
}
.lv_index{
	width: 4em;
}

.local_variable_name{
	font-weight:400;
}

.field_name{
	font-style:italic;
	color:#66AA66;
}

table.fields tr {
	padding:0.1em;
}

table.fields td {
	padding-top: 0.25em;
	padding-right: 0.5em
}

div.methods,div.fields,div.attributes,div.constant_pool {
	border-top: 1px solid #cccccc;
}

td.exception {
	position: relative;
}

td.exception div {
	height: 100%;
	margin: 0 2px;
	width: 23px;
	position: absolute;
	border-radius: 2px;
}

td.exception div.exception {
	background: rgb(255, 168, 152);
}

td.exception_empty, th.exception_empty, td.exception {
	background-color: rgb(245, 245, 172)
}

th.exception_header {
	width: 2em;
	max-width: 2em;
}

td.exception div.exception_handler{
	background: #77FD77;
	z-index: 1;
	height: 15px;
}
td.exception div.handler_overlap:before {
	position: absolute;
	height: 15px;
	width: 15px;
	z-index: 2;
	background: #77FD77;
	content: " ";
	border-radius: 2px;
}

td.exception span{
	-webkit-transform: rotate(90deg) translate(0px, -17px);
	-webkit-transform-origin: 0% 0%;
	position: absolute;
	text-align: center;
	height: 25px;
	margin-left: 5px;
	margin-top: 5px;
	white-space: nowrap;
	pointer-events: none;
	z-index: 3;
}

.simple_attribute{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 0em;
}

details {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

summary {
	background-color: #eeeeee;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

div#class_file {
	background-color:#fcfcec;
	padding: 1em 1em 1em 1em;
}

.selfref {
	color:#888888;
}

.runtime_visible {
	color:#ccFFcc;
}

.runtime_visible {
	color:#ccDDDD;
}

.element_value_pair + .element_value_pair::before {
	content:", ";
	color:#AA22FF;
}

.nested_details {
	background-color: #f4e8e8;
}

.method_body {
	background-color:#F7F7F7;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.method_signature {
	margin-top: 2em;
	font-weight: 600;
}

table.method_bytecode{
	margin: 1em 1em 1em 1em;
}

.annotation{
	color: #228B22;
	font-weight:lighter;
	font-style:italic;
}
.access_flags {
	color: rgba(0, 0, 100, 0.6);
}

.index, .pc{
	color: #FFA500;
}

.line{
	color: #A5CC00;
}

th {
	text-align: left;
}

th.pc, td.pc, th.line, td.line {
	width: 3.5em;
}

.reservedwords,.verification{
	color: #0000ff;
}

.constant_value{
	color: #FF00A5;
}

.attribute_name{
	color: #d73b04;
}

.tooltip:hover > span{
	display:inline;
	position:absolute;
	color:#111;
	border:1px solid #DCA;
	background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
   /*CSS3 extras*/
.tooltip > span {
	color:gray;
	z-index:10;
	display:none;
	padding:0.5em 0.5em;
	margin-top:-0.5em;
	margin-left:0.5em;
	line-height:1.5em;
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}

ol.cp_entries, ol.exception_table {
	padding-left: 2.5em;
	padding-top:1em;
	padding-bottom: 1em;
	padding-right: 0em;
}

ol.cp_entries > li {
	padding-top:0.5em;
	white-space: nowrap;
}

ol.exception_table {
	line-height: 1.5em;
}

div.cp_ref, div.attributes_ref {
	margin-left:1em;
}

div.cp_ref > div.cp_entry{
	border-left:1px solid #666666;
	padding-left:0.5em;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.constant_pool_link{
	padding:10px 10px;
	margin-top:10px;
	padding-top:20px;
	/**give the bubble's background a gradient**/
	background:gray; /*fallback colour for non-supporting browsers*/
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
	background:-moz-linear-gradient(#fac868, #f3961c);
	background:-o-linear-gradient(#fac868, #f3961c);
	background:linear-gradient(#fac868, #f3961c);
	/**give the corners a large curve**/
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	/**add a drop shadow to the bubble**/
	-webkit-box-shadow: -3px 4px 8px #989898;
	-moz-box-shadow: -3px 4px 8px #989898;
	box-shadow: -3px 4px 8px #989898;
	/**style the text**/
	color:black;
	letter-spacing:.06em;
}
.close:hover { background: #00d9ff; }
